* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
	height: 100%;
}
body{
    // background:#f3f4f8;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin:0;
    padding:0
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block
}
input, select, textarea {
    font-size:100%
}
table {
    border-collapse:collapse;
    border-spacing:0
}
th {
    text-align:inherit
}
fieldset, img {
    border:0
}
del {
    text-decoration:line-through
}
address, caption, cite, code, dfn, em, th, var {
    font-style:normal;
}
ol, ul {
    list-style:none
}
caption, th {
    text-align:left
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:500
}
q:before, q:after {
    content:''
}
sub, sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup {
    top:-0.5em
}
sub {
    bottom:-0.25em
}
a:hover, a:active {
    text-decoration:none
}
ins, a {
    text-decoration:none
}









